<!DOCTYPE html>
<html>
    <head>
        <title>The Snir Gallery ADMIN</title>
        <meta charset="Windows-1255">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- BootStrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="card">
            {% if display_error == 'True' %}
                <h6 style="color: #ff0000">Username and/or password incorrect</h6>
            {% endif %}
            <form method="post" action="{{ url_for('admin_login_handle') }}">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username">
    
                <label for="password">Password: </label>
                <input type="text" id="password" name="password">
    
                <input type="submit", value="Login">
            </form>
        </div>
    </body>
</html>