<!DOCTYPE html>
<html>
    <head>
        <title>The Snir Gallery ADMIN</title>
        <meta charset="Windows-1255">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <select>
                {% for name in names %}
                    <option value={{ name }}>{{ name }}</option>
                {% endfor %}
            </select>

            <form method="post" action="{{ url_for('admin_add_art') }}">
                <button type="submit">New</submit>
            </form>
        </div>
    </body>
</html>

{% if new_name %}
    <script>
        alert("New art created under name: " + {{ new_name }});
    </script>
{% endif %}