.Title
{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

.Information_Menu
{
    float: right;
    padding-right: 5%;
}

.Information
{
    color: rgb(0, 0, 0);
    padding-bottom: 3%;
    text-align: right;
}
