<!DOCTYPE html>
<html>
    <head>
        <title>The Snir Gallery Admin</title>
        <meta charset="Windows-1255">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- BootStrap Scripts-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- BootStrap Style -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href={{ url_for('static', filename='styles/adminpanel.css') }}/>

        <script type="text/javascript" src={{ url_for('static', filename='scripts/adminpanel.js') }}></script>
    </head>
    <body>
        <div class="accordion">
            <div class="card">
                <div class="card-header">
                    <div data-toggle="collapse" data-target="#add">New Art</div>
                </div>
                <div class="card-body collapse" id="add">
                    <form method="post" enctype="multipart/form-data" action="{{ url_for('admin_add_art') }}">
                        <label for="add_artists">Artists:</label>
                        <input type="text" id="add_artists" name="add_artists" required>

                        <label for="add_name">Name:</label>
                        <input type="text" id="add_name" name="add_name" required>

                        <label for="add_description">Description:</label>
                        <input type="text" id="add_description" name="add_description" required>

                        <label for="add_creation_date">Creation Date:</label>
                        <input type="text" id="add_creation_date" name="add_creation_date" required>

                        <label for="add_imageUpload">Select a JPEG image:</label>
                        <input type="file" accept="image/jpeg" onchange="Preview('add_imageUpload', 'add_imagePreview');" id="add_imageUpload" name="add_image" required>
                        <img id="add_imagePreview">

                        <label for="add_videoUpload">Select a MP3 video (not mandetory):</label>
                        <input type="file" accept="video/mp3" onchange="Preview('add_videoUpload', 'add_videoPreview');" id="add_videoUpload" name="add_video">
                        <img id="add_videoPreview">

                        <input type="submit" value="Add Art">
                    </form>
                </div>

                {% if arts_names|length > 0 %}
                    <div class="card-header">
                        <div data-toggle="collapse" data-target="#edit">Edit Art</div>
                    </div>
                    <div class="card-body collapse" id="edit">
                        <form method="post" action="{{ url_for('admin_edit_picker_change') }}">
                            <select id="art-edit-picker" name="art-edit-picker" onchange="this.form.submit();">
                                {% for art_name in arts_names %}
                                    <option value={{ art_name.id }}>{{ art_name.name }}</option>
                                {% endfor %}
                            </select>

                            <input class="Hide" type="submit" disabled>
                        </form>

                        <form method="post" enctype="multipart/form-data" action="{{ url_for('admin_edit_art') }}">
                            <label for="edit_id">ID:</label>
                            <input type="text" id="edit_id" name="edit_id" value="{{ art.id }}" readonly>

                            <label for="edit_artists">Artists:</label>
                            <input type="text" id="edit_artists" name="edit_artists" value="{{ art.artists }}" required>

                            <label for="edit_name">Name:</label>
                            <input type="text" id="edit_name" name="edit_name" value="{{ art.name }}" required>

                            <label for="edit_description">Description:</label>
                            <input type="text" id="edit_description" name="edit_description" value="{{ art.description }}" required>

                            <label for="edit_creation_date">Creation Date:</label>
                            <input type="text" id="edit_creation_date" name="edit_creation_date" value="{{ art.creation_date }}" required>

                            <label for="edit_imageUpload">Select a JPEG image:</label>
                            <input type="file" accept="image/jpeg" onchange="Preview('edit_imageUpload', 'edit_imagePreview');" id="edit_imageUpload" name="edit_image">
                            <img id="edit_imagePreview" src="{{ art.image_path }}">

                            <label for="edit_videoUpload">Select a MP3 video (not mandetory):</label>
                            <input type="file" accept="video/mp3" onchange="Preview('edit_videoUpload', 'edit_videoPreview');" id="edit_videoUpload" name="edit_video">
                            <img id="edit_videoPreview" src="{{ art.video_path }}">

                            <input type="submit" value="Edit Art">
                        </form>
                    </div>

                    <div class="card-header">
                        <div data-toggle="collapse" data-target="#delete">Delete Art</div>
                    </div>
                    <div class="card-body collapse" id="delete">
                        <form method="post" onsubmit="return IsEmpty('art-delete-picker');" action="{{ url_for('admin_delete_art') }}">
                            <select id="art-delete-picker" name="art-delete-picker">
                                <option value="">-- Please select an option --</option>
                                {% for art_name in arts_names %}
                                    <option value={{ art_name.id }}>{{ art_name.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Delete">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>

    {% if message|length > 0 %}
        <script>
            alert('{{ message }}');
        </script>
    {% endif %}
</html>