{% extends 'components/base.html' %}


{% block style %}
    <link rel="stylesheet" href={{ url_for('static', filename='styles/arts.css') }}/>
{% endblock %}

{% block content %}
    <ul class="Arts list-group">
        {% for art in arts %}
            <li class="Art"
            {% if loop.last %}
                style="margin-bottom: 20px;"
            {% endif %}
            >
                <h5>{{ art.name }}</h5>
                <a href="./artdetails?name={{ art.name }}">
                    <img src="{{ art.image_path }}">
                </a>
                <p class="Information">{{ art.short_description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
